header {
    padding-top: 5dvh;
    padding-bottom: 5dvh;
    display: flex;
    justify-content: center;
}

body {

    justify-content: center;
    color: #fff
}

main {
    text-align: center;
    width: 70%;
    margin: 20px auto;
    border: 5px solid black;
    background-color: #3790c7;
    padding: 50px auto;
    justify-content: center;
    color: #fff
}

p {
    display: flex;
    justify-content: center;
}

form {
<<<<<<< HEAD
    color: #fff;
}

a:hover {
    background-color: black;
}

input {
    text-align: center
}
=======
    color: #fff
}

a:hover {
    background-color: black;
  }

input {
    text-align:center
}  

>>>>>>> main
